<!-- 3. Pintando la variable valorContador -->
<h1>Contador:</h1>
<p>{{valorContador}}</p>

<!-- 4. Creamos los botones -->
<!-- --------------------------------------------- -->
<!-- 8. Creando el 'binding' de los botones -->
<button (click)="incrementar()" >Incrementar</button>
<button (click)="decrementar()" >Decrementar</button>

<!-- --------------------------------------------- -->

<!-- 5. Crear los métodos de clase -->
<!-- ir a padre.component.ts -->

<!-- -------------------------------------------- -->
<!-- llamando al hijo en el padre y pasando datos del padre al hijo -->
<!-- <app-hijo [datoHijo]="datoPadre" (eventoHijo)="manejadorDeEventoDelPadre($event)" ></app-hijo> -->