<!-- 3. Creando una tabla de productos -->
<h1>Productos de Limpieza:</h1>

<table class="table">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">Producto</th>
       <th scope="col">Precio</th>
       <th scope="col">Detalle</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Lavandina</td>
       <td>$10</td>
       <!-- 4. Redirecionando al detalle de un producto -->
       <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/products','red','Lavandina']">Detalle</button></td>
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>Detergente</td>
       <td>$5</td>
       <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/products','yellow','Detergente']">Detalle</button></td>
     </tr>
     <tr>
       <th scope="row">3</th>
       <td>Limpiar Vidrios</td>
       <td>$7</td>
       <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/products','green','Limpia Vidrios']">Detalle</button></td>
       <!-- 4.1 Mostrar el detalle de un producto. Ir a product-detail.component.ts -->       
     </tr>
   </tbody>
 </table>
