<!-- Creando el botón para saludar al 'hermano' desde el 'padre' -->
<!-- aplicando la directiva 'appEstiloHermanos' -->
<!-- <h1 appEstiloHermanos>{{nombre}}</h1> -->
<!-- ++++++++++++++++++++++++++++++++++++++++++ -->
<!-- 1.3 reemplazando la directiva por un 'pipe' en ambos hermanos -->
<h1>{{ nombre | miPipePersonalizado }}</h1>

<!-- 1.4 ir a padre.component.ts  -->

<!-- ------------------------------------------- -->
<button type="button" (click)="saludar()">Saludar</button>


<!-- Ir a app.component.html para llamar al html del hermano -->

<!-- ----------------------------------------------------------------------------------- -->
<!-- Creando el botón -->
<button type="button" (click)="preguntar()">Preguntar por hijo</button>
<!-- probar -->

<!-- Inyectando el servicio, pero con la Inject -->
<!-- ir a hermano.component.ts -->