<!-- Creando el botón para saludar al 'hermano' desde el 'padre' -->
<!-- 2.2 -->
<h1 appEstiloHermanos>{{nombre}}</h1>
<button type="button" (click)="saludar()">Saludar</button>

<!-- Ir a app.component.html para llamar al html del hermano -->

<!-- ----------------------------------------------------------------------------------- -->
<!-- Creando el botón -->
<button type="button" (click)="preguntar()">Preguntar por hijo</button>
<!-- probar -->

<!-- Inyectando el servicio, pero con la Inject -->
<!-- ir a hermano.component.ts -->