<!-- 4.13 Creando el botón para saludar al 'hermano' desde el 'padre' -->
<h1>{{nombre}}</h1>
<button type="button" (click)="saludar()">Saludar</button>

<!-- 4.14 Ir a app.component.html para llamar al html del hermano -->

<!-- ----------------------------------------------------------------------------------- -->
<!-- 15.7 Creando el botón -->
<button type="button" (click)="preguntar()">Preguntar por hijo</button>
<!-- probar -->

<!-- 16. Inyectando el servicio, pero con la Inject -->
<!-- ir a hermano.component.ts -->